/* 1. flex - wrap (container 요소)
특징: 사용자가 인터넷 페이지를 세로나 가로로 늘리거나 줄였을때
아이템들의 크기가 줄어들거나 늘어진다. 
이것을 제거하기 위해 flex - wrap를 사용하여
item들의 크기 및 속성을 유지시킨다. */

.container {
  height: 250px;
  border: 5px dashed orange;

  display: flex;

  /*flex-direction: row-reverse;를 사용하여
  주축의 방향을 변경함*/
  flex-wrap: wrap;
  /* flex - wrap를 사용하여
item들의 크기 및 속성을 유지시킨다. */

}


.item {
  width: 150px;
  height: 50px;
  margin: 5px;
  /*간격 띄우기*/
  background-color: blue;
  border: 5px solid green;
  font-size: 30px;
}