/* flexbox 개요 
특징: 박스들을 유연하게 만든다.*/

/* flex 용어 정리 
1. flex container:아이템들은 감싸는 부모 영역
2. flex item 내부 정렬을 위해 쓰일 아이템, 자식요소
*/

.container {
  border: 5px dashed orange;

  display: flex;
  /*display: flex;추가하여 아이템들이 가로로
   유연하게 만들어짐*/
}

.item {
  width: 50px;
  height: 50px;
  background-color: blue;
  border: 5px solid green;
}