body {
  background-color: black;
}



/* 모바일 퍼스트 */
/*  모바일 퍼스트이므로 모바일 크기부터 데스크탑 크기 순서 */

@media screen and (min-width: 480px) {

  body {
    background-color: rgb(102, 163, 36);
  }
}



@media screen and (min-width: 768px) {

  body {
    background-color: rgb(96, 30, 151);
  }
}




@media screen and (min-width: 1024px) {

  body {
    background-color: rgb(243, 255, 192);
  }
}