/* 1. grid-auto-rows , grid-auto-columns (container 속성)  */

.container {

  border: 5px dashed rgb(128, 19, 44);

  display: grid;

  grid-template-columns: 50px 150px 100px;
  grid-template-rows: 1fr 1fr 1fr;

  grid-auto-rows: 200px;
  /* 원래 칸에 해당되지 않고 넘치는 rows 태그들을 200px 고정시킨다. */
  grid-auto-columns: 300px;




}

.item {
  background-color: antiquewhite;
  border: 3px solid rgb(58, 155, 210);
  font-size: 30px;
}

/* 2. grid-auto-flow */

.container2 {

  border: 5px dashed rgb(128, 19, 44);

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-auto-flow: row;
  /* 주축이 행으로 된다 */
  /* grid-auto-flow: column 은 열 주축이된다 */
}

.item2 {
  background-color: antiquewhite;
  border: 3px solid rgb(58, 155, 210);
  font-size: 30px;
}

/* 3. grid-auto-flow */

.container3 {

  border: 5px dashed rgb(128, 19, 44);

  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-auto-flow: row dense;
  /* dense를 추가하면 비워있어야할 윗칸에
  item 2번째 뒤에 오는거부터 매꿔지기 시작한다. */

}

.item3 {
  background-color: antiquewhite;
  border: 3px solid rgb(58, 155, 210);
  font-size: 30px;
}

.item3:nth-child(2) {
  grid-column: span 3;
}

/* item에서 2번째 요소가 3칸을 차지한다는 의미 */


/* 4. grid shorthand 단축속성*/

/* grid: row  colomns 
 자세한건 mdn 사이트 참고. */