/* 1. fr */

.container {
  width: 100%;
  height: 100%;
  border: 4px dashed orange;

  display: grid;

  grid-template-rows: repeat(3, 100px);


  grid-template-columns: 100px 1fr 1fr;
  /*  첫번째는 100px로 고정되고 사용자가 페이지는
  늘리면 두번째 세번째 칸은 1:1 비율로 늘어나게됨. */



}

.item {
  background-color: aqua;
  border: 4px solid blue;
  font-size: 24px;
}

/* 2. min-content , max-content*/

.container2 {
  width: 100%;
  height: 100%;
  border: 4px dashed orange;

  display: grid;

  grid-template-rows: repeat(3, 100px);


  grid-template-columns: min-content 1fr 1fr;
  /*  grid-template-columns: max-content 1fr 1fr;를
사용 하면 문장, 또는 단어들이 하나의 행에 보이게 한다. */


}

.item2 {
  background-color: aqua;
  border: 4px solid blue;
  font-size: 24px;
}