/* 1. grid-row , grid-column */

.container {
  width: 100%;
  height: 100%;
  border: 4px dashed orange;

  display: grid;

  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(3, 1fr);

}

.item {
  background-color: aqua;
  border: 4px solid blue;
  font-size: 24px;
}

.item:first-child {
  background-color: blueviolet;

  grid-row-start: 1;
  grid-row-end: 3;
  /* grid-row-start: 1; 
     grid-row-end: -2; 와 같다. 이유는 밑에 설명.*/

  /* grid-row: 1 (start) / 3 (end);사용가능. */

  /*  이럴경우 3칸이 아니라 2칸만 차지한다
  이유는 개발자모드에서 grid을 누르면 각 행,열마다
  줄 번호가 있다. 줄 번호를 잘 보면서 설정하면 된다. */

  grid-row: 1 / span 2
    /* span 은 칸 수를 의미*/
  ;
  grid-column: 1 / span 3;
}